<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="form-container2">
        <h1 style="text-align: center;">Welcome to Home Page!</h1>
        <h1><%= say %></h1>
        <h1><%= currentTime %></h1>
    <a href="/api/v1/users/logout" class="logout-btn">Logout</a>
    </div>
</body>
</html>